<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unitrack">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniTrack">
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Ratings"
            android:exported="false" />
        <activity
            android:name=".AdminSetting"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".User_History"
            android:exported="false" />
        <activity
            android:name=".Register2"
            android:exported="false" />
        <activity
            android:name=".ViewHistory"
            android:exported="false" />
        <activity
            android:name=".AddPost"
            android:exported="false" />
        <activity
            android:name=".User_Form3"
            android:exported="false" />
        <activity
            android:name=".ViewOrderProcess"
            android:exported="false" />
        <activity
            android:name=".User_Form2"
            android:exported="false" />
        <activity
            android:name=".User_Form"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard"
            android:exported="false" />
        <activity
            android:name=".User_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>